.count-down-container {
  height: 100%;
  width: 100%;
  background: url("/assets/images/pokemon.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .counter {
    width: 100%;
    max-width: 600px;
    min-height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;

    h1 {
      text-align: center;
      color: var(--ion-color-danger);
      font-size: 20vw;
    }

    ion-segment {
      // background-color: #006ab6;

      ion-segment-button {
        color: var(--ion-color-danger);
        // --background-checked: yellow;
        // --color-checked: var(--ion-color-success-contrast);
        // --indicator-color: red;
        // --indicator-height:	100px;
        // background-color: #1697db;
      }

    }

    p {
      color: var(--ion-color-danger);
      text-align: center;
    }
  }

}

// .time-unit-selector {
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   overflow-x: auto;
//   z-index: 100;
//   background-color:rgb(255 205 0);
//   height: 50px;
//   display: flex;
//   align-items: center;

//   // ion-segment-button {
//   // --backgound: var(--ion-color-danger);
//   // --background-checked: var(--ion-color-danger);
//   // --color-checked: var(--ion-color-success-contrast);
//   // --background-focused: var(--ion-color-danger);
//   // }
// }



.date-picker-container {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
